body {
    background: $light-blue;
    color: $black;
    font-family: $sans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
}

a {
    text-decoration: none;
    color: $blue;
}

.wordcamps {
    ul {
        list-style: none;
    }
}
