// colors
$light-blue: #e0f5fa;
$blue:       #028db9;
$black:      #424242;
$gray:       #6f6f6f;
$light-gray: #D0D0D0;

// typography
$serif: "Noto Serif", serif;
$sans:  "Open Sans", "Arial", sans-serif;
