############
## Vagrant
############
.vagrant/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

config.json
oubey_db.sql

###########
## Grunt
###########
**/.grunt/
**/node_modules/
**/bower_modules/

###########
## Theme stuff
###########
bower_components
node_modules

##########
## Vim
##########
*.swp
*.swo
